.*
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
*.DS_Store
logging.conf
gluon/tests/sql.log
httpserver.log
httpserver.pid
./deposit
./benchmark
./build
./dist*
./dummy_tests
./optional_contrib
./ssl
./docs
./logs
./gluon/*.1
./gluon/*.txt
./admin.w2p
./examples.w2p
cron.master
applications/*/databases/*
applications/*/sessions/*
applications/*/errors/*
applications/*/cache/*
applications/*/uploads/*
applications/*/*.py[oc]
applications/*/static/temp
*.sublime-project
*.sublime-workspace
.idea/*
site-packages/
logs/
