<!DOCTYPE html>
<html>
<head>

{{block head}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../static/css/images/favicon_0.ico" type="image/vnd.microsoft.icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BIENVENIDO A LA  DRIC-USB | Dirección de Relaciones Internacionales</title>

  <meta name="description" content="">
  <meta name="author" content="">

{{end}}

{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navBarUser.css')}}" rel="stylesheet">
{{end}}
</head>

<body>
{{block navbar}}

<div class="row">
  <div class="col-lg-1 col-md-1 col-md-1"></div>
  <div class="col-lg-10 col-md-10 col-md-10">
    <div>
      <img id="header" class="img-responsive" src="{{=URL('static', 'css/images/fotoHeader.png')}}" alt ="Imagen DRIC-USB">
    </div>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{=URL('administrador')}}"><span style="color:black;">SIGPIE</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('lista_postulados')}}"><span style="color:black;">Gestionar Estudiantes</span></a></li>
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('nueva_universidad')}}"><span style="color:black;">Gestionar Universidades</span></a></li>
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('nuevo_convenio')}}"><span style="color:black;">Gestionar
            Convenios</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right btn-xs btn-danger" >
            <li><a id="logout" href="{{=URL('user/logout')}}"><span style="color:black;" class="glyphicon glyphicon-log-out"> Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-1 col-md-1 col-md-1"></div>
</div>
  {{end}}
  <div class="row">
    <div class="col-lg-1 col-md-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-md-10">
      {{ block content }}
      <h2><span style = "text-align: center"> Bienvenido Administrador</span></h2>
      {{ end }}
    </div>
    <div class="col-lg-1 col-md-1 col-md-1"></div>
  </div>

  {{block footer}}
  <br><br>
    <div class="col-lg-1 col-md-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-md-10">
      <footer>
        <p>&copy; DRIC USB</p>
      </footer>
    </div>
    <div class="col-lg-1"></div>
  {{end}}

  {{block script}}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static', 'js/holder.min.js')}}"></script>
    <script src="{{=URL('static', 'js/web2py.js')}}"></script>
    <script src="{{=URL('static', 'js/modernizr-2.8.3.min.js')}}"></script>

  {{end}}
  </body>
</html>
