<!-- Html base para las vistas del Estudiante-->
<!DOCTYPE html>
<html lang="es">
<head>

{{block head}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../static/css/images/favicon_0.ico" type="image/vnd.microsoft.icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BIENVENIDO A LA  DRIC-USB | Dirección de Relaciones Internacionales</title>

  <meta name="description" content="">
  <meta name="author" content="">

{{end}}

{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navBarUser.css')}}" rel="stylesheet">
{{end}}
</head>

<body>

{{block navbar}}

<div class="row">
  <div class="col-lg-1 col-md-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-xs-10">
    <div>
      <img id="header" class="img-responsive" src="../static/css/images/fotoHeader.png">
    </div>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{=URL('welcome')}}"><span style="color:black;">SIGPIE</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('about')}}"><span style="color:black;">Información</span></a></li>
            <li style="font-size: 1em; font-family: Arial"><a href="https://www.internacionales.usb.ve/sites/default/files/PRESENTACION%20DE%20INTERCAMBIO%20Noviembre%202016.pdf" target="_blank"><span style="color:black;">Oferta</span></a></li>
            <li class="dropdown" style="font-size: 1em; font-family: Arial">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span style="color:black;">Cronograma</span></a>
              <ul class="dropdown-menu">
                <li style="font-size: 1em; font-family: Arial"><a href="#"><span style="color:black;">Charlas</span></a></li>
                <li style="font-size: 1em; font-family: Arial"><a href="https://www.internacionales.usb.ve/sites/default/files/Cronograma%20Convocatoria%20PIE%202017%20-%202018%20%2810-10-2016%29%20%282%29.pdf" target="_blank"><span style="color:black;">Fechas de interés</span></a></li>
              </ul>
            </li>
            {{if estudiante.completo == True:}}
                <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('postulacion_finalizada')}}"><span style="color:black;">Consultar Postulación</span></a></li>
                <li><a id="renuncia" class="btn-warning" href="{{=URL('renuncia')}}"><span style="color:black;">Renunciar</span></a></li>
            {{else:}}
                <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('postularse')}}"><span style="color:black;">Postularse</span></a></li>
            {{pass}}
          </ul>
          <ul class="nav navbar-nav navbar-right btn-xs btn-danger" >
            <li><a id="logout" href="{{=URL(c='default', f='logout_cas')}}"><span style="color:black;" class="glyphicon glyphicon-log-out">  Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-1 col-md-1 col-xs-1"></div>
</div>
{{end}}

  <div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10">
      {{ block content }}
      {{ end }}
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
  </div>

  {{block footer}}
  <br><br>
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10">
      <footer>
        <p>&copy; DRIC USB</p>
      </footer>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1"></div>
  {{end}}

  {{block script}}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static', 'js/holder.min.js')}}"></script>
    <script src="{{=URL ('static', 'js/jquery-3.1.1.min.js')}}"></script>
    <!-- <script src="{{=URL('static', 'js/web2py.js')}}"></script> -->
    <script src="{{=URL('static', 'js/modernizr-2.8.3.min.js')}}"></script>

  {{end}}

  {{block custom_script}}
  {{end}}
  </body>
</html>
