{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navbarUser.css')}}" rel="stylesheet">
  <!--link href="{{=URL('static', 'css/about.css')}}" rel="stylesheet"-->

{{end}}

{{block content}}
  <hr class="featurette-divider">
  <h1>Pasos para postularse al Programa de Intercambio</h1>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" id="paso">Primer Paso <!--span class="text-muted">It'll blow your mind.</span--></h2>
        <p class="lead">Conozca sobre el Programa de Intercambio Estudiantil y navegue en los sitios web de las distintas universidades participantes.</p>
        </div>
        <div class="col-md-5">
          <img class=" featurette-image img-responsive center-block img-circle" src="../static/css/images/fotoestu.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Segundo Paso </h2>
          <p class="lead">Seleccione dos(2) universidades de su interés e investigue sobre contenido de planes de estudio (materias,horas,cŕeditos,idioma que ofrecen)</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class=" featurette-image img-responsive center-block img-circle" src="../static/css/images/porto-universidad-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Finalmente</h2>
          <p class="lead">Tome la decisión de postularse al Programa de Intercambio Estudiantil de la USB</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-circle" src="../static/css/images/estudiantesguille.jpg" alt="Generic placeholder image">
        </div>
      </div>

    <hr class="featurette-divider">
      <div class="col-md-10">
        </div>
          <a class="btn btn-success btn-lg" href="https://www.internacionales.usb.ve/es/node/323" role="button">
          Saber más >> </a>  
      </div>

{{end}}


