{{extend 'layout_admin.html'}}
 

  {{ block content }}
  	<div class="col-lg-4 col-md-4 col-xs-4"></div>
  	<div class="col-lg-4 col-md-4 col-xs-4">
      <h1 align="center">Bienvenido</h1>
      <h4 align="center" style = "color:red;">¡Advertencia!</h4>

      <p align="justify">Sea cuidadoso al modificar los datos de la base de datos de SIGPIE. Cualquier cambio puede afectar el registro de estudiantes en el Programa de Intercambio. </p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4"></div>

  {{ end }}

