{{extend 'layout2.html'}}

{{block content}}
<style type="text/css">
  .error{
    color: red;
  }

  #guardar{
  	background-color: green;
  }
</style>
	<div class="row" id="pwd-container">
		<h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">RECAUDOS A COONSIGNAR JUNTO A LA APLICACIÓN </h2>
		</br>
		<div class="row">
            <ul>
                <li><p>La <strong>foto</strong> a adjuntar debe estar en formato .png, .jpg o .jpeg.</p></li>
            </ul>

		</div>
		<div class="row">
            <ul>
                <li><p>El resto de los <strong>documentos</strong> a adjuntar deben estar en formato .pdf.</p></li>
            </ul>
		</div>
		<div class="col-lg-6 col-md-6 col-xs-6">

			{{=form_documentos.custom.begin}}

				<div class="form-group">
					<label for="ci-f">Foto: <span style="color:red;">*</span> </label>
					<p>Adjunta una foto carnet actualizada de tu persona.</p>
					{{if recaudo != None and recaudo.foto != "" and recaudo.foto != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.foto}}
					{{else:}}
						{{=form_documentos.custom.widget.foto}}
					{{pass}}
				</div>

				<div class="form-group">
					<label for="ci-f">Cédula de Identidad: <span style="color:red;">*</span> </label>
					<p>Adjunta una copia de tu cédula de identidad.</p>
					{{if recaudo != None and recaudo.cedula != "" and recaudo.cedula != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.cedula}}
					{{else:}}
						{{=form_documentos.custom.widget.cedula}}
					{{pass}}

				</div>

				<div class="form-group">
					<label for="usbid-f">Carné USB: <span style="color:red;">*</span> </label>
					<p>Adjunta una copia de tu carné de la USB.</p>
					{{if recaudo != None and recaudo.carnet != "" and recaudo.carnet != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.carnet}}
					{{else:}}
						{{=form_documentos.custom.widget.carnet}}
					{{pass}}

				</div>

				<div class="form-group">
					<label for="expediente-f">Informe Académico: <span style="color:red;">*</span> </label>
					<P>Adjunta tu informe académico actualizado.</P>
					{{if recaudo != None and recaudo.informe_academico != "" and recaudo.informe_academico != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.informe_academico}}
					{{else:}}
						{{=form_documentos.custom.widget.informe_academico}}
					{{pass}}

				</div>

				<div class="form-group">
					<label for="comprobante-f">Comprobante de Inscripción: <span style="color:red;">*</span> </label>
					<p style="text-align:justify;">Adjunta una copia del comprobante de inscripción correspondiente al trimestre en curso.</p>
					{{if recaudo != None and recaudo.comprobante != "" and recaudo.comprobante != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.comprobante}}
					{{else:}}
						{{=form_documentos.custom.widget.comprobante}}
					{{pass}}

				</div>
				<div class="form-group">
					<label for="cele-f">Programas de Estudio de la Universidad Extranjera: <span style="color:red;">*</span> </label>
					<p style="text-align:justify;">Adjunta los programas de estudio de las asignaturas que ingresaste anteriormente.</p>
					{{if recaudo != None and recaudo.programas_de_estudio != "" and recaudo.programas_de_estudio != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.programas_de_estudio}}
					{{else:}}
						{{=form_documentos.custom.widget.programas_de_estudio}}
					{{pass}}

				</div>

		</div>

		<div class="col-lg-6 col-md-6 col-xs-6">

				<div class="form-group">
					<label for="motivacion-f">Carta de Motivación: <span style="color:red;">*</span> </label>
					<p style="text-align:justify;">Adjunta tu carta de motivación para cursar estudios en la Universidad seleccionada dirigida a el/la Coordinador(a) Docente respectivo(a).</p>
					{{if recaudo != None and recaudo.carta_motivacion != "" and recaudo.carta_motivacion != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.carta_motivacion}}
					{{else:}}
						{{=form_documentos.custom.widget.carta_motivacion}}
					{{pass}}

				</div>

				<div class="form-group">
					<label for="grafo-f">Flujograma: <span style="color:red;">*</span> </label>
					<p style="text-align:justify;">Adjunta tu flujograma, debes indicar las materias cursadas y aprobadas a la fecha, las materias pendientes por cursar antes de iniciar el PIE y las materias que cursarás en la USB cuando regreses a Venezuela.</p>
					<a href="{{=URL('ejemplo_flujograma')}}"> Dar click aquí para ver ejemplo de un flujograma</a>
					{{if recaudo != None and recaudo.flujograma != "" and recaudo.flujograma != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.flujograma}}
					{{else:}}
						{{=form_documentos.custom.widget.flujograma}}
					{{pass}}

				</div>

				<div class="form-group">
					<label for="expediente-f">Currículo Vitae: <span style="color:red;">*</span> </label>
					<p style="text-align:justify;">Adjunta tu currículo vitae actualizado(sólo etapa universitaria) y las fotocopias que respalden su contenido.</p>
					{{if recaudo != None and recaudo.curriculum_vitae != "" and recaudo.curriculum_vitae != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.curriculum_vitae}}
					{{else:}}
						{{=form_documentos.custom.widget.curriculum_vitae}}
					{{pass}}

				</div>
				{{if idioma.nombre != "Español":}}
					<div class="form-group">
						<label for="cele-f">Certificados de estudios de lengua extranjera: <span style="color:red;">*</span> </label>
						<p style="text-align:justify;">Adjunta los certificados que evidencian de manejo de la lengua extranjera, de postularte a una universidad que no sea de habla hispana.</p>
						{{if recaudo != None and recaudo.certificado_lengua != "" and recaudo.certificado_lengua != None:}}
							<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
							{{=form_documentos.custom.widget.certificado_lengua}}
						{{else:}}
							{{=form_documentos.custom.widget.certificado_lengua}}
						{{pass}}

					</div>
				{{pass}}

				<div class="form-group">
					<label for="cele-f">Actividades Extracurriculares:</label>
					<p style="text-align:justify;">Adjunta los documentos que evidencian las actividades extracurriculares que has realizado.</p>
					{{if recaudo != None and recaudo.actividades_extracurriculares != "" and recaudo.actividades_extracurriculares != None:}}
						<p style="color: blue; font-weight: bold"><strong>Archivo cargado, si desea modificarlo, cargue uno nuevo</strong></p>
						{{=form_documentos.custom.widget.actividades_extracurriculares}}
					{{else:}}
						{{=form_documentos.custom.widget.actividades_extracurriculares}}
					{{pass}}

				</div>
		</div>
	</div>

	<br>
	<br>
	<br>
  <div class="row">
    <p><span style="color:red;">*</span>: Este campo es obligatorio para Guardar el Formulario</p>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <a href="{{=URL('planestudios')}}" class="btn btn-primary" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-4">
      </br>
      </br>
      <p align="center"><b>5/5</b></p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4" style="text-align: right;">
      {{form_documentos.custom.submit.update(_value="Guardar Formulario", _id="guardar")}}
      {{=form_documentos.custom.submit}}
    </div>
  </div>
  {{=form_documentos.custom.end}}

{{end}}
{{ block custom_script }}
<script>
  $(document).ready(function() {

  	$("#guardar").click(function(){
 	var lleno = true;
  	if (!$("#recaudos_foto").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_cedula").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_carnet").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_informe_academico").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_comprobante").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_programas_de_estudio").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_carta_motivacion").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_flujograma").val()){
  		lleno = false;
  	}
  	if (!$("#recaudos_curriculum_vitae").val()){
  		lleno = false;
  	}
  
  	if (lleno == true){
  		alert("!Enhorabuena! has completado tu postulación")
  	}
  	
  });
  });


</script>
{{ end }}
