{{extend 'layout2.html'}}
{{block content}}

{{=form_convenio}}
<!--
  <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">IDENTIFICACIÓN DEL PROGRAMA, ACTIVIDAD ACADÉMICA Y LAPSO DE ESTUDIO EN INTERCAMBIO </h2>
  </div>
    <br>
  <div class="row" id="pwd-container">
    <form>
    <div class="col-lg-6 col-md-6 col-md-6">
        <div class="form-group">
            <label style="color:black;"for="país_dest">País:</label>
              <input type="text" class="form-control" id="país_dest" placeholder="País de destino"> 
        </div>

        <div class="form-group">
            <label style="color:black;"for="convenio">Nombre del programa:</label>
            <select class="form-control" id="convenio">
              <option>Convenio Bilateral</option>
              <option>Red Magalhães-Programa SMILE</option>
              <option>Programa de Movilidad Estudiantil CINDA</option>
            </select>
        </div>

        <div class="form-group">
          <label style="color:black;"for="uni_dest">Universidad de destino:</label>
          <input type="text" class="form-control" id="uni_dest" placeholder="Universidad de destino">
        </div>

          
    </div>
    <div class="col-lg-6 col-md-6 col-md-6">
          <div class="form-group">
            <label style="color:black;"for="act_academica">Actividad Académica:</label>
            <select class="form-control" id= "act_academica">
              <option>Solo Asignaturas</option>
              <option>Asignaturas + Proyecto de Grado</option>
              <option>Asignaturas + Pasantía Internacional</option>
              <option>Doble titulación</option>
            </select>
          </div>

          <div class="form-group">
            <label style="color:black;">Período tentativo, según calendario de la universidad de destino:</label>
            <select class="form-control" id= "periodo">
              <option>Primer Semestre (A partir de Septiembre)</option>
              <option>Segundo Semestre (A partir de Enero)</option>
              <option>Primer y Segundo Semestre (A partir de Enero)</option>
            </select>
          </div>

          <div class="form-group">
            <label style="color:black;"for="f_ini">Año Académico:</label>
              <input type="datetime" class="form-control" id="anyo_academico" placeholder="xxxx-xxxx">     
          </div>  

    </div>
    </form>
  </div>

  <div class="row" id="pwd-container">
    <br>
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">EN CASO DE NO SER ACEPTADO EN LA UNIVERSIDAD SELECCIONADA, FAVOR INDIQUE UNA SEGUNDA OPCIÓN </h2>
  </div>
  <br>
  <div class="row" id="pwd-container">
    <div class="col-lg-6 col-md-6 col-md-6">
        <div class="form-group">
            <label style="color:black;"for="país_dest">País:</label>
              <input type="text" class="form-control" id="país_dest" placeholder="País de destino"> 
        </div>
      </form>
        <div class="form-group">
          <label style="color:black;"for="uni_dest">Universidad de destino:</label>
          <input type="text" class="form-control" id="uni_dest" placeholder="Universidad de destino">
        </div>
      </form>
          <div class="form-group">
            <label style="color:black;"for="convenio">Nombre del programa:</label>
            <select class="form-control" id="convenio">
              <option>Convenio Bilateral</option>
              <option>Red Magalhães-Programa SMILE</option>
              <option>Programa de Movilidad Estudiantil CINDA</option>
            </select>
          </div>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-md-6">
          <div class="form-group">
            <label style="color:black;"for="act_academica">Actividad Académica:</label>
            <select class="form-control" id= "act_academica">
              <option>Solo Asignaturas</option>
              <option>Asignaturas + Proyecto de Grado</option>
              <option>Asignaturas + Pasantía Internacional</option>
              <option>Doble titulación</option>
            </select>
          </div>
        </form>
        <div class="form-group">
            <label style="color:black;">Período tentativo, según calendario de la universidad de destino:</label>
            <select class="form-control" id= "periodo">
              <option>Primer Semestre (A partir de Septiembre)</option>
              <option>Segundo Semestre (A partir de Enero)</option>
            </select>
          </div>
        </form>
          <div class="form-group">
            <label style="color:black;"for="f_ini">Año Académico:</label>
              <input type="datetime" class="form-control" id="anyo_academico" placeholder="xxxx-xxxx">     
          </div>  
        </form> 
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-md-6">
      <a href="{{=URL('form2')}}" class="btn btn-success" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-lg-6 col-md-6 col-md-6">
      <a href="{{=URL('planestudios')}}" class="btn btn-success" role="button" style="float: right;">Siguiente >></a>
    </div>
    <div class="col-lg-1 col-md-1 col-md-1"></div>
  </div>

-->
{{end}}