{{extend 'layout2.html'}}

{{block content}}
<style type="text/css">
  .error{
    color: red;
  }
</style>

  <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">IDENTIFICACIÓN DEL PROGRAMA, ACTIVIDAD ACADÉMICA Y LAPSO DE ESTUDIO EN INTERCAMBIO </h2>
  </div>
    <br>

  <div class="row" id="pwd-container">
    {{=form_convenio.custom.begin}}

    <div class="col-lg-6 col-md-6 col-md-6">

        <div class="form-group">
            <label style="color:black;" for="país_dest">País:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.pais_1}}
        </div>

        <div class="form-group">
            <label style="color:black;" for="convenio">Nombre del programa:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.convenio_1}}
        </div>

        <div class="form-group">
          <label style="color:black;" for="uni_dest">Universidad de destino:<span style="color:red;">*</span></label>
          {{=form_convenio.custom.widget.universidad_1}}
        </div>


    </div>

    <div class="col-lg-6 col-md-6 col-md-6">
          <div class="form-group">
            <label style="color:black;" for="act_academica">Actividad Académica:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.actividad_1}}
          </div>

          <div class="form-group">
            <label style="color:black;">Período tentativo, según calendario de la universidad de destino:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.periodo_1}}
          </div>

    </div>
  </div>

  <div class="row" id="pwd-container">
    <br>
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">EN CASO DE NO SER ACEPTADO EN LA UNIVERSIDAD SELECCIONADA, FAVOR INDIQUE UNA SEGUNDA OPCIÓN </h2>
  </div>
  <br>
  <div class="row" id="pwd-container">

    <div class="col-lg-6 col-md-6 col-md-6">

        <div class="form-group">
            <label style="color:black;" for="país_dest">País:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.pais_2}}
        </div>

        <div class="form-group">
            <label style="color:black;" for="convenio">Nombre del programa:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.convenio_2}}
        </div>

        <div class="form-group">
          <label style="color:black;" for="uni_dest">Universidad de destino:<span style="color:red;">*</span></label>
          {{=form_convenio.custom.widget.universidad_2}}
        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-md-6">

        <div class="form-group">
            <label style="color:black;"for="act_academica">Actividad Académica:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.actividad_2}}
          </div>

        <div class="form-group">
            <label style="color:black;">Período tentativo, según calendario de la universidad de destino:<span style="color:red;">*</span></label>
            {{=form_convenio.custom.widget.periodo_2}}
        </div>
    </div>

  </div>


  <div class="row">
    <p><span style="color:red;">*</span>: Este campo es obligatorio para avanzar</p>
    <div class="col-lg-4 col-md-4">
      <a href="{{=URL('form2')}}" class="btn btn-primary" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-lg-4 col-md-4">
      </br>
      </br>
      <p align="center"><b>3/5</b></p>
    </div>
    <div class="col-xs-3"></div>
    <div class="col-lg-1 col-md-1">
      {{form_convenio.custom.submit.update(_value="Siguiente>>")}}
      {{=form_convenio.custom.submit}}
    </div>
  </div>
  {{=form_convenio.custom.end}}


{{end}}
