{{extend 'layout2.html'}}

{{block navbar}}

<div class="row">
  <div class="col-lg-1 col-md-1 col-md-1"></div>
  <div class="col-lg-10 col-md-10 col-md-10">
    <div>
      <img id="header" class="img-responsive" src="../static/css/images/fotoHeader.png">
    </div>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{=URL('welcome')}}"><span style="color:black;">SIGPIE</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('about')}}"><span style="color:black;">Información</span></a></li>
            <li style="font-size: 1em; font-family: Arial"><a href="https://www.internacionales.usb.ve/sites/default/files/PRESENTACION%20DE%20INTERCAMBIO%20Noviembre%202016.pdf" target="_blank"><span style="color:black;">Oferta</span></a></li>
            <li class="dropdown" style="font-size: 1em; font-family: Arial">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span style="color:black;">Cronograma</span></a>
              <ul class="dropdown-menu">
                <li style="font-size: 1em; font-family: Arial"><a href="#"><span style="color:black;">Charlas</span></a></li>
                <li style="font-size: 1em; font-family: Arial"><a href="#"><span style="color:black;">Fechas de interés</span></a></li>
              </ul>
            </li>
            <li style="font-size: 1em; font-family: Arial"><a href="{{=URL('postularse')}}"><span style="color:black;">Postularse</span></a></li>
            {{if estudiante.completo == True:}}
                <li><a id="renuncia" class="btn-warning" href="{{=URL('renuncia')}}"><span style="color:black;">Renunciar</span></a></li>
            {{pass}}
          </ul>
          <ul class="nav navbar-nav navbar-right btn-xs btn-danger" >
            <li><a id="logout" href="{{=URL(c='default', f='logout_cas')}}"><span style="color:black;" class="glyphicon glyphicon-log-out">  Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-1 col-md-1 col-md-1"></div>
</div>
{{end}}

{{block content}}
<style type="text/css">
  .error{
    color: red;
  }
</style>

  <br>
  <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">INFORMACIÓN ACADEMICA </h2>
  </div>
  <br>


  <div class="row" id="pwd-container">

    <div class="col-lg-6 col-md-6 col-md-6">
        {{=form_informacion_academica.custom.begin}}
        <div class="form-group">
          <label style="color:black;" for="sede">Sede Universidad:<span style="color:red;">*</span></label>
          {{form_informacion_academica.custom.widget.sede.update(_placeholder="Sede")}}
          {{=form_informacion_academica.custom.widget.sede}}
        </div>

        <div class="form-group">
          <label style="color:black;" for="decanato">Decanato:<span style="color:red;">*</span></label>
          {{form_informacion_academica.custom.widget.decanato.update(_placeholder="Decanato")}}
          {{=form_informacion_academica.custom.widget.decanato}}
        </div>

        <div class="form-group">
          <label style="color:black;" for="carrera">Carrera que estudia en la USB:<span style="color:red;">*</span></label>
          {{form_informacion_academica.custom.widget.carrera.update(_placeholder="(Código) - Nombre completo de la carrera, incluír mención si la hay")}}
          {{=form_informacion_academica.custom.widget.carrera}}
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-md-6">
        <div class="form-group">
          <label style="color:black;" for="num_cred">Nº de créditos aprobados hasta la fecha:<span style="color:red;">*</span></label>
          {{form_informacion_academica.custom.widget.creditos_aprob.update(_placeholder="Su número de créditos aprobados")}}
          {{=form_informacion_academica.custom.widget.creditos_aprob}}
        </div>

        <div class="form-group">
          <label style="color:black;" for="indice">Índice académico a la fecha:<span style="color:red;">*</span></label>
          {{form_informacion_academica.custom.widget.indice.update(_placeholder="Ej: 5.0000")}}
          {{=form_informacion_academica.custom.widget.indice}}
        </div>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <p><span style="color:red;">*</span>: Este campo es obligatorio para avanzar</p>
    <div class="col-lg-4 col-md-4">
      <a href="{{=URL('postularse')}}" class="btn btn-primary" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-md-4">
      </br>
      </br>
      <p align="center"><b>2/5</b></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-lg-1 col-md-1" style="float:right;">
      {{form_informacion_academica.custom.submit.update(_value="Siguiente>>")}}
      {{=form_informacion_academica.custom.submit}}
    </div>
  </div>
{{=form_informacion_academica.custom.end}}


{{end}}
