{{extend 'layout2.html'}}
{{block content}}
  <br>
  <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">INFORMACIÓN ACADEMICA </h2>
  </div>
  <br>
  <div class="row" id="pwd-container">
    <div class="col-md-6">
        <div class="form-group">
          <label style="color:black;"for="sede">Sede Universidad:</label>
          <select class="form-control" id="sede">
            <option>Sartenejas</option>
            <option>Litoral</option>
          </select>
        </div>
        <div class="form-group">
          <label style="color:black;"for="decanato">Decanato:</label>
            <select class="form-control" id="decanato">
              <option>Decanato de estudios tecnológicos</option>
              <option>Decanato de estudios profesionales</option>
            </select>
        </div>
        <div class="form-group">
          <label style="color:black;"for="carrera">Carrera que estudia en la USB:</label>
            <input type="text" class="form-control" id="carrera" placeholder="(Código) - Nombre completo de la carrera, incluír mención si la hay"> 
        </div>
      </form>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label style="color:black;"for="num_cred">Nº de créditos aprobados:</label>
            <input type="text" class="form-control" id="num_cred" placeholder="Tu número de créditos aprobados"> 
        </div>
        <div class="form-group">
          <label style="color:black;"for="indice">Índice académico a la fecha:</label>
            <input type="text" class="form-control" id="indice" placeholder="x,xxxx">
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="{{=URL('postularse')}}" class="btn btn-success" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-md-6">
      <a href="{{=URL('form3')}}" class="btn btn-success" role="button" style="float: right;">Siguiente >></a>
    </div>
    <div class="col-md-1"></div>
  </div>

    <div class ="row">
    <br><br>
    <div class="col-md-5"></div>
      <a href="{{=URL('welcome')}}" class="btn btn-primary" role="button">Guardar Planilla</a>
  </div>

      
  
{{end}}

