{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navBarUser.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/plan.css')}}" rel="stylesheet">

{{end}}
{{block content}}

<div class="row" id="pwd-container">
  <h2 id="title">Plan de estudios</h2>
    {{=form_plan.custom.begin}}
    <div class="row" id="filasup">
      <div class="col-lg-10 col-md-10 col-md-10">
        <div class="col-lg-5 col-md-5 col-md-5">
          <label>Asignaturas del Plan de estudio USB que aspira convalidar</label>
        </div>
        <div class="col-lg-5 col-md-5 col-md-5">
          <label>Asignaturas a cursar en la Universidad destino</label>
        </div>
      </div>
    </div>

    <!-- Fila 1-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_1}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_1}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_1}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_1}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_1}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_1}}
      </div>
    </div>

    <!-- Fila 2-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_2}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_2}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_2}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_2}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_2}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_2}}
      </div>
    </div>

    <!-- Fila 3-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_3}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_3}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_3}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_3}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_3}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_3}}
      </div>
    </div>

    <!-- Fila 4-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_4}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_4}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_4}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_4}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_4}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_4}}
      </div>
    </div>

    <!-- Fila 5-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_5}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_5}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_5}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_5}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_5}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_5}}
      </div>
    </div>

    <!-- Fila 6-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_6}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_6}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_6}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_6}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_6}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_6}}
      </div>
    </div>

    <!-- Fila 7-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_7}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_7}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_7}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_7}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_7}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_7}}
      </div>
    </div>

    <!-- Fila 8-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_8}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_8}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_8}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_8}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_8}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_8}}
      </div>
    </div>

    <!-- Fila 9-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_9}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_9}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_9}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_9}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_9}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_9}}
      </div>
    </div>

    <!-- Fila 10-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_10}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_10}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_10}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_10}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_10}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_10}}
      </div>
    </div>

    <!-- Fila 11-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_11}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_11}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_11}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_11}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_11}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_11}}
      </div>
    </div>

    <!-- Fila 12-->
    <div class="row" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_12}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_12}}
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_12}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_12}}
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_12}}
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_12}}
      </div>
    </div>
</div>

<br><br>

<div class="row">
  <div class="row">
    <p><span style="color:red;">*</span>: Este campo es obligatorio para avanzar</p>
    <div class="col-lg-4 col-md-4">
      <a href="{{=URL('form3')}}" class="btn btn-primary" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-lg-1 col-md-1 col-md-offset-2">
      {{form_plan.custom.submit.update(_value="Siguiente>>")}}
      {{=form_plan.custom.submit}}
    </div>
    <div class="col-md-4">
      </br>
      </br>
      <p align="center"><b>4/5</b></p>
    </div>
    <div class="col-md-2"></div>
      <div class="col-lg-1 col-md-1" style="float:right;">
      </div>
    </div>
  </div>
</div>
{{=form_plan.custom.end}}  
{{end}}