{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navBarUser.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/plan.css')}}" rel="stylesheet">

{{end}}

{{block content}}
<style type="text/css">
  .error{
    color: red;
  }
</style>
<div class="row" id="pwd-container">

  <h2 id="title">Plan de Estudios</h2>
    {{=form_plan.custom.begin}}
    <div>
    </div>
    <div class="row" id="filasup">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <label id= "tit1">Asignaturas del Plan de estudio USB que aspira convalidar</label>
            </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <label id ="tit2">Asignaturas a cursar en la Universidad destino</label>
        </div>
    </div>


    <!-- Fila 1-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod1 cod">
        <label>Código <span style="color:red;">*</span>
        {{=form_plan.custom.widget.codigo_usb_1}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación <span style="color:red;">*</span>
        {{=form_plan.custom.widget.materia_usb_1}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos <span style="color:red;">*</span>
        {{=form_plan.custom.widget.creditos_usb_1}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código <span style="color:red;">*</span>
        {{=form_plan.custom.widget.codigo_ext_1}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación <span style="color:red;">*</span>
        {{=form_plan.custom.widget.materia_ext_1}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana <span style="color:red;">*</span>
        {{=form_plan.custom.widget.numero_horas_1}}</label>
      </div>
    </div>

    <!-- Fila 2-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod2 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_2}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_2}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_2}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_2}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_2}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_2}}</label>
      </div>
    </div>

    <!-- Fila 3-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod3 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_3}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_3}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_3}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_3}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_3}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_3}}</label>
      </div>
    </div>

    <!-- Fila 4-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod4 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_4}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_4}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_4}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_4}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_4}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_4}}</label>
      </div>
    </div>

    <!-- Fila 5-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod5 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_5}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_5}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_5}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_5}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_5}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_5}}</label>
      </div>
    </div>

    <!-- Fila 6-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod6 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_6}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_6}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_6}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_6}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_6}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_6}}</label>
      </div>
    </div>

    <!-- Fila 7-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod7 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_7}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_7}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_7}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_7}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_7}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_7}}</label>
      </div>
    </div>

    <!-- Fila 8-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod8 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_8}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_8}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_8}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_8}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_8}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_8}}</label>
      </div>
    </div>

    <!-- Fila 9-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod9 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_9}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_9}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_9}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_9}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_9}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_9}}</label>
      </div>
    </div>

    <!-- Fila 10-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod10 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_10}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_10}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_10}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_10}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_10}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_10}}</label>
      </div>
    </div>

    <!-- Fila 11-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod11 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_11}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_11}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_11}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_11}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_11}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_11}}</label>
      </div>
    </div>

    <!-- Fila 12-->
    <div class="row filas" id="filas">
      <div class="col-lg-2 col-md-2 col-xs-2 cod12 cod">
        <label>Código
        {{=form_plan.custom.widget.codigo_usb_12}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_usb_12}}</label>
      </div>
       <div class="col-lg-2 col-md-1 col-xs-2">
        <label>N° de créditos
        {{=form_plan.custom.widget.creditos_usb_12}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Código
        {{=form_plan.custom.widget.codigo_ext_12}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label>Denominación
        {{=form_plan.custom.widget.materia_ext_12}}</label>
      </div>
      <div class="col-lg-2 col-md-1 col-xs-2">
        <label id="last">N° de créditos/N° de horas x semana
        {{=form_plan.custom.widget.numero_horas_12}}</label>
      </div>
    </div>
</div>

<br><br>

<div class="row">
  <div class="row">
    <p><span style="color:red;">*</span>: Este campo es obligatorio para avanzar</p>
    <p><span style="color:red;">NOTA</span>: En cada fila escriba la información solicitada, cada materia dictada en la USB ingresada en cada fila debe corresponderse con la que cursará en la Universidad Destino. </p>
    <div class="col-lg-4 col-md-4 col-xs-4">
      <a href="{{=URL('form3')}}" class="btn btn-primary" role="button" align="left"><< Regresar</a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
      </br>
      </br>
      <p align="center"><b>4/5</b></p>
    </div>
      <div class="col-lg-4 col-md-4 col-xs-4" style="text-align: right;">
        {{form_plan.custom.submit.update(_value="Siguiente>>")}}
        {{=form_plan.custom.submit}}
      </div>
    </div>
  </div>
</div>
{{=form_plan.custom.end}}
{{end}}

{{ block custom_script }}
<script>
  $(document).ready(function() {
    $('div.cod').each(function() {
      var $cod = $(this);
      $cod.hide()
    });

    $("#no_table_materia_usb_1").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod1").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod1").show();
      }else{
        $(".cod1").hide();

      };
    });

    $("#no_table_materia_usb_2").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod2").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod2").show();
      }else{
        $(".cod2").hide();

      };
    });
    $("#no_table_materia_usb_3").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod3").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod3").show();
      }else{
        $(".cod3").hide();

      };
    });
    $("#no_table_materia_usb_4").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod4").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod4").show();
      }else{
        $(".cod4").hide();

      };
    });
    $("#no_table_materia_usb_5").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod5").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod5").show();
      }else{
        $(".cod5").hide();

      };
    });
    $("#no_table_materia_usb_6").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod6").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod6").show();
      }else{
        $(".cod6").hide();

      };
    });
    $("#no_table_materia_usb_7").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod7").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod7").show();
      }else{
        $(".cod7").hide();

      };
    });
    $("#no_table_materia_usb_8").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod8").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod8").show();
      }else{
        $(".cod8").hide();

      };
    });
    $("#no_table_materia_usb_9").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod9").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod9").show();
      }else{
        $(".cod9").hide();

      };
    });
    $("#no_table_materia_usb_10").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod10").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod10").show();
      }else{
        $(".cod10").hide();

      };
    });
    $("#no_table_materia_usb_11").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod11").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod11").show();
      }else{
        $(".cod11").hide();

      };
    });
    $("#no_table_materia_usb_12").change(function(){
      if ($(this).val() == "Electiva de Área"){
        $(".cod12").show();
      }else if  ($(this).val() == "Obligatoria"){
        $(".cod12").show();
      }else{
        $(".cod12").hide();

      };
    });


  });
</script>
{{ end }}