{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navbarUser.css')}}" rel="stylesheet">
  <!--link href="{{=URL('static', 'css/form.css')}}" rel="stylesheet"-->

{{end}}
{{block content}}

  {{=form_estudiante}}
  <!--div class="container-fluid">
    <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">DATOS PERSONALES </h2>
      </div>
    </div>
    <br>
    <div class="row" id="pwd-container">
      <div class="col-md-6">
      <form>
          <!--div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="datetime" class="form-control" id="nombres" placeholder="Tu nombre"> 
          </div>
          <br>
          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" placeholder="Tu apellido">
          </div!>

          <div class="form-group">
            <label style="color:black;" for="genero">Género:</label>
            <select class="form-control" id="genero">
              <option>F</option>
              <option>M</option>
            </select>
          </div>
          <div class="form-group">
            <label style="color:black;"for="nacionalidad">Nacionalidad:</label>
              <input type="text" class="form-control" id="nacionalidad" placeholder="Tu nacionalidad">
          </div>
          <!--div class="form-group">
            <label for="ci">Cédula de identidad:</label>
              <select class="form-control">
                <option>V</option>
                <option>E</option>
              </select>
              <input type="text" class="form-control" id="ci" placeholder="xxxxxxxx">
          </div>
          <div class="form-group">
            <label for="carnet">Nº Carnet:</label>
              <input type="text" class="form-control" id="carnet" placeholder="Tu número de carnet">
          </div>
          <div class="form-group">
            <label style="color:black;"for="pasaporte">Nº Pasaporte Vigente:</label>
            <input type="text" class="form-control" id="pasaporte" placeholder="Tu número de pasaporte">
          </div>
          <div class="form-group">
            <label style="color:black;" for="idioma">Idioma a emplear en la universidad destino:</label>
              <input type="email" class="form-control" id="idioma" placeholder="El idioma a emplear en la universidad destino">
          </div>
          <label style="color:black;">Nivel de suficiencia del idioma a emplear verbal y escrito:</label>
          <div class="form-group">  
            <label style="color:black;" for="oral">Oral:</label>
            <select class="form-control" id="oral">
                <option>Básico</option>
                <option>Intermedio</option>
                <option>Avanzado</option>
            </select>
          </div>
          <div class="form-group">  
            <label style="color:black;"for="escrito">Escrito:</label>
            <select class="form-control" id="oral">
                <option>Básico</option>
                <option>Intermedio</option>
                <option>Avanzado</option>
            </select>
          </div>
          <div class="form-group">  
            <label style="color:black;"for="lectura">Lectura:</label>
            <select class="form-control" id="oral">
                <option>Básico</option>
                <option>Intermedio</option>
                <option>Avanzado</option>
            </select>
          </div>
        </form>

        <form>
          <div class="form-group">
            <label style="color:black;"for="direccion">Domicilio Actual:</label>
              <textarea type="text" class="form-control" id="direccion" placeholder="Tu dirección"></textarea> 
          </div>
        </form>
      </div>

      <div class="col-md-6">
      <label style=" color:black; font-size:125%; text-align:left; font-weight: bold;">Datos de contacto: </label>
        </form>
        <form>
          <div class="col-md-6">
            <div class="form-group">
              <label style="color:black;"for="tlf_hab">Teléfono de Habitación:</label>
              <input type="tel" class="form-control" id="tlf_hab" placeholder="xxxx-xxxxxxx">          
            </div>
            <div class="form-group">
              <label style="color:black;" for="tlf_cel">Teléfono Celular:</label>
              <input type="tel" class="form-control" id="tlf_cel" placeholder="xxxx-xxxxxxx">          
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label style="color:black;" for="e-mail">E-mail:</label>
              <input type="email" class="form-control" id="e-mail" placeholder="Tu e-mail">
            </div>
            <div class="form-group">
              <label style="color:black;" for="redes">Redes Sociales:</label>
              <textarea type="text" class="form-control" id="redes" placeholder="Tus usuarios de redes sociales"></textarea>
            </div>
          </div>
         </form> 
      <label style=" color:black; font-size:125%; text-align:left; font-weight: bold;">Datos de una persona a contactar en casos de emergencias:</label>
            <div class="form-group">
            <label style="color:black;"for="exampleInputName2">Nombres y Apellidos:</label>
              <input type="text" class="form-control" id="nombre_contact" placeholder="Nombre y apellido de contacto de emergencia">
            </div>       
            <div class="form-group">
              <label style="color:black;" for="exampleInputEmail2">Dirección:</label>
              <textarea type="email" class="form-control" id="exampleInputEmail2" placeholder="Dirección de contacto de emergencia"></textarea>
            </div>  
          <div class="form-group">
            <label style="color:black;" for="relacion_contact">Relación con el estudiante:</label>
            <select class="form-control" id="relacion_contact">
                <option>Madre</option>
                <option>Padre</option>
                <option>Otro Familiar</option>
                <option>Otro</option>
            </select>
          </div>  
          <div class="form-group">
            <label style="color:black;" for="tlf_hab_contact">Teléfono de Habitación:</label>
              <input type="tel" class="form-control" id="tlf_hab_contact" placeholder="xxxx-xxxxxxx">
          </div>
          <div class="form-group">
            <label style="color:black;"for="tlf_cel_contact">Teléfono Celular:</label>
              <input type="tel" class="form-control" id="tlf_cel_contact" placeholder="xxxx-xxxxxxx">
          </div>
          <div class="form-group">
            <label style="color:black;"for="email_contact">E-mail:</label>
              <input type="email" class="form-control" id="email_contact" placeholder="E-mail de contacto de emergencia">
          </div> 
          </form>     
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-1">
      <a href="{{=URL('form2')}}" class="btn btn-success" role="button" style="float:right;">Siguiente >></a>
    </div>
</div>

    <div class ="row">
    <br><br>
    <div class="col-md-5"></div>
      <a href="{{=URL('welcome')}}" class="btn btn-primary" role="button">Guardar Planilla</a>
  </div-->


{{end}}