{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navbarUser.css')}}" rel="stylesheet">
  <!--link href="{{=URL('static', 'css/form.css')}}" rel="stylesheet"-->

{{end}}

{{block content}}
<style type="text/css">
  .error{
    color: red;
  }
</style>

  <div class="container-fluid">
    <div class="row" id="pwd-container">
      <h2 style=" font-size:125%; text-align:center; font-weight: bold; color: black">DATOS PERSONALES </h2>
    </div>
  </div>
    <br>

    <div class="row" id="pwd-container">
      <div class="col-lg-6 col-md-6 col-xs-6">

        <!--Nombres de estudiante-->
        {{=form_estudiante.custom.begin}}
        <div class="form-group">
          <label style="color:black">Nombres:</label>
          {{=form_estudiante.custom.widget.nombres}}
        </div>

        <!--Apellidos de estudiante-->
        <div class="form-group">
          <label style="color:black">Apellidos:</label>
          {{=form_estudiante.custom.widget.apellidos}}
        </div>

        <!--Cedula de estudiante-->
        <div class="form-group row">
          <label class="col-xs-4" text-align="left" style="color:black">Cédula de identidad:</label>
    	    <div class="col-xs-2">
                <select class="form-control">
                  <option>V</option>
                  <option>E</option>
                </select>
    	    </div>
    	    <div class="col-xs-4">
                {{=form_estudiante.custom.widget.cedula}}
    	    </div>
        </div>

        <!--Check de Becado-->
        <div class="form-group">
          <label for="becado" style="color:black">Marque si usted es becado:</label>
          {{=form_estudiante.custom.widget.becado}}
        </div>

        <!--Carnet de estudiante-->
        <div class="form-group">
          <label for="carnet" style="color:black">Nº Carnet:</label>
          {{=form_estudiante.custom.widget.carnet}}
        </div>

        <!--Genero de estudiante-->
        <div class="form-group">
          <label for="genero" style="color:black">Género:<span style="color:red;">*</span></label>
          {{=form_estudiante.custom.widget.genero}}
        </div>

        <!--Nacionalidad de estudiante-->
        <div class="form-group">
          <label style="color:black">Nacionalidad:<span style="color:red;">*</span></label>
          {{form_estudiante.custom.widget.nacionalidad.update(_placeholder="Nacionalidad")}}
          {{=form_estudiante.custom.widget.nacionalidad}}
        </div>

        <!--Pasaporte de estudiante-->
        <div class="form-group">
          <label style="color:black;" for="pasaporte">Nº Pasaporte Vigente:<span style="color:red;">*</span></label>
          {{form_estudiante.custom.widget.pasaporte.update(_placeholder="Ej: 123456789")}}
          {{=form_estudiante.custom.widget.pasaporte}}
        </div>

        <!--Direccion de estudiante-->
        <div class="form-group">
          <label style="color:black;"for="direccion">Dirección Domicilio Actual:<span style="color:red;">*</span></label>
            {{form_estudiante.custom.widget.direccion.update(_placeholder="Dirección actual del estudiante")}}
            {{=form_estudiante.custom.widget.direccion}}
        </div>
        <!--Idioma a usar estudiante-->
        <div class="form-group">
          <label style="color:black;" for="idioma">Idioma a emplear en la universidad destino:<span style="color:red;">*</span></label>
          {{=form_estudiante.custom.widget.idioma_destino}}
        </div>

        <div id="campos_idioma">
          <br>
          <label style="color:black; font-size: 18px; text-align:center"><strong>Nivel de suficiencia del idioma a emplear verbal y escrito:</strong></label>

          <!--Nivel oral del idioma-->
          <div class="form-group">
            <label style="color:black;" for="oral">Oral:<span style="color:red;">*</span></label>
            {{=form_estudiante.custom.widget.oral}}
          </div>

          <!--Nivel escrito del idioma-->
          <div class="form-group">
            <label style="color:black;"for="escrito">Escrito:<span style="color:red;">*</span></label>
            {{=form_estudiante.custom.widget.escrito}}
          </div>

          <!--Nivel de lectura del idioma-->
          <div class="form-group">
            <label style="color:black;"for="lectura">Lectura:<span style="color:red;">*</span></label>
            {{=form_estudiante.custom.widget.lectura}}
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-md-6 col-xs-6">
        <h6 style=" color:black; font-size:125%; text-align: left; font-weight: bold;">Datos de contacto: </h6>

          <div class="col-lg-6 col-md-6 col-xs-6">

            <!--Telefono de habitacion de estudiante-->
            <div class="form-group">
              <label style="color:black;" for="tlf_hab">Teléfono de Habitación:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.telefono_habitacion.update(_placeholder="Ej: 0212-1234567")}}
              {{=form_estudiante.custom.widget.telefono_habitacion}}
            </div>

            <!--Telefono celular de estudiante-->
            <div class="form-group">
              <label style="color:black;" for="tlf_hab">Teléfono Celular:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.telefono_celular.update(_placeholder="Ej: 0414-1234567")}}
              {{=form_estudiante.custom.widget.telefono_celular}}
            </div>

          </div>

          <div class="col-lg-6 col-md-6 col-xs-6">
            <!--Email estudiante-->
            <div class="form-group">
              <label style="color:black;" for="e-mail">E-mail:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.correo.update(_placeholder="Su E-mail")}}
              {{=form_estudiante.custom.widget.correo}}
            </div>

            <!-- Redes sociales estudiante-->
            <div class="form-group">
              <label style="color:black;" for="redes">Redes Sociales:</label>
              {{form_estudiante.custom.widget.redes_sociales.update(_placeholder="Sus redes sociales")}}
              {{=form_estudiante.custom.widget.redes_sociales}}
            </div>
          </div>

          <label style=" color:black; font-size:125%; text-align:left; font-weight: bold">Datos de una persona a contactar en casos de emergencias:</label>

            <!--Nombres contacto emergencia-->
            <div class="form-group">
              <label style="color:black;" for="exampleInputName2">Nombres:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.nombres_cont.update(_placeholder="Nombres de contacto de emergencia")}}
              {{=form_estudiante.custom.widget.nombres_cont}}
            </div>

            <!--Apellidos contacto emergencia-->
            <div class="form-group">
              <label style="color:black;" for="exampleInputName2">Apellidos:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.apellidos_cont.update(_placeholder="Apellidos de contacto de emergencia")}}
              {{=form_estudiante.custom.widget.apellidos_cont}}
            </div>

              <!--Direccion contacto emergencia-->
            <div class="form-group">
              <label style="color:black;" for="exampleInputEmail2">Dirección:<span style="color:red;">*</span></label>
              {{form_estudiante.custom.widget.direccion_cont.update(_placeholder="Dirección de contacto de emergencia")}}
              {{=form_estudiante.custom.widget.direccion_cont}}
            </div>

          <!--Relacion contacto con estudiante-->
          <div class="form-group">
            <label style="color:black;" for="relacion_contact">Relación con el estudiante:<span style="color:red;">*</span></label>
            {{=form_estudiante.custom.widget.relacion_cont}}
          </div>

          <div class="form-group" id="otra_relacion">
            <label style="color:black;" for="relacion_contact">Indique la relación:<span style="color:red;">*</span></label>
            {{form_estudiante.custom.widget.relacion_otro.update(_placeholder="Ej: Primo/Prima")}}
            {{=form_estudiante.custom.widget.relacion_otro}}
          </div>
          <!--Tlf de habitacion de contacto-->
          <div class="form-group">
            <label style="color:black;" for="tlf_hab_contact">Teléfono de Habitación:<span style="color:red;">*</span></label>
            {{form_estudiante.custom.widget.telefono_habitacion_cont.update(_placeholder="Ej: 0212-1234567")}}
            {{=form_estudiante.custom.widget.telefono_habitacion_cont}}
          </div>

          <!--Tlf celular de contacto-->
          <div class="form-group">
            <label style="color:black;"for="tlf_cel_contact">Teléfono Celular:<span style="color:red;">*</span></label>
            {{form_estudiante.custom.widget.telefono_celular_cont.update(_placeholder="Ej: 0414-1234567")}}
            {{=form_estudiante.custom.widget.telefono_celular_cont}}
          </div>

          <!--E-mail de contacto-->
          <div class="form-group">
            <label style="color:black;" for="email_contact">E-mail:<span style="color:red;">*</span></label>
            {{form_estudiante.custom.widget.correo_cont.update(_placeholder="E-mail de contacto de emergencia")}}
            {{=form_estudiante.custom.widget.correo_cont}}
          </div>

      </div>
    </div>


<div class="row" id="pwd-container">
<p><span style="color:red;">*</span>: Este campo es obligatorio para avanzar</p>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <p align="center"><b>1/5</b></p>
      <div align="right">
        {{form_estudiante.custom.submit.update(_value="Siguiente>>")}}
        {{=form_estudiante.custom.submit}}
      </div>
    </div>
</div>
{{=form_estudiante.custom.end}}


{{end}}

{{ block custom_script }}
<script>
  $(document).ready(function() {
    if($("#no_table_idioma_destino").val() == "8" || $("#no_table_idioma_destino").val() == ""){
      $("#campos_idioma").hide();
    }
    if ($("#no_table_relacion_cont").val() != "Otro"){
      $("#otra_relacion").hide();
    }
    $("#no_table_idioma_destino").change(function(){
      if ($(this).val() == "8" || $("#no_table_idioma_destino").val() == ""){
        $("#campos_idioma").hide();
        $("#no_table_oral").val("");
        $("#no_table_escrito").val("");
        $("#no_table_lectura").val("");
        $("#no_table_oral").prop('required',false);
        $("#no_table_escrito").prop('required',false);
        $("#no_table_lectura").prop('required',false);
      }
      else{
        $("#campos_idioma").show();
        $("#no_table_oral").prop('required',true);
        $("#no_table_escrito").prop('required',true);
        $("#no_table_lectura").prop('required',true);

      };
    });
    $("#no_table_relacion_cont").change(function(){
      if ($(this).val() == "Otro"){
        $("#otra_relacion").show();
        $("#no_table_relacion_otro").prop('required',true);
      }
      else{
        $("#otra_relacion").hide();
        $("#no_table_relacion_otro").val("");
        $("#no_table_relacion_otro").prop('required',false);

      };
    });
  });
</script>
{{ end }}
