{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navbarUser.css')}}" rel="stylesheet">
{{end}}
{{block content}}
<div class="row">
	<div class="col-lg-2"></div>
    <div class="col-lg-8">
		<h1 align="center">Cuidado!</h1>
		</br>
		<p text-aling="justify">Escogiste la opción de <b>Renunciar</b> al Programa de Intercambio Estudiantil (PIE).</br>
		Debes entender que al avanzar en ésta opción tu cuenta será suspendida del sistema</br>
		Todos los datos personales que hayas ingresado en el formulario<span style="color:red;">*</span> se perderán y de reactivar tu cuenta tendrás que volver a proporcionarlos.
		</p>
		<p><span style="color:red;">*</span>: Es necesario haber rellenado todos los campos obligatorios del formulario de postulación.</p>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="row">
	<form>
		<div class="form-group">
			<label for="renuncia">Carta de renuncia:<span style="color:red;">*</span> </label>
			<p>Para proceder con la renuncia se debe adjuntar una carta explicando los motivos de la misma.</p>
			<input type="file" name="renuncia">
		</div>	
	</form>
</div>
{{end}}