{{extend 'layout2.html'}}
{{block css}}
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/navbarUser.css')}}" rel="stylesheet">
{{end}}
{{block content}}
<div class="row">
  <div class="col-lg-1 col-md-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-10">
    <h1>Bienvenid@ </h1>
    <h2> {{=nombre}} {{=apellido}}</h2>
    <p text-aling="justify">La educación y formación académica no se compone únicamente de contenidos y asignaturas, sino también de un permanente aprendizaje y crecimiento personal. La internacionalización académica otorga todo esto, además de una experiencia cultural inigualable. La Universidad Simón Bolívar  ofrece esta oportunidad a sus alumnos a través del Programa de Intercambio de Estudiantes. Actualmente, la USB cuenta con convenios de intercambio académico con más de 60 universidades a nivel mundial.</p>
  </div>
  <div class="col-lg-1 col-md-1 col-xs-1"></div>
</div>
{{end}}
